<nav class="navbar navbar-default navbar-expand-lg navbar-light" role="navigation">
  <a class="navbar-brand" href="/">
   <img src="images/wallet-logo@2x.png" width="30" height="30" class="d-inline-block align-top" alt="wallet-logo">
   Maple
 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <section class="collapse navbar-collapse" id="navbarSupportedContent" role ="region">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if(title === 'Coupon'){%>
              <li class="nav-item active js-coupon hide">
          <%} else{%>
              <li class="nav-item js-coupon hide">
          <%}%>
                  <a class="nav-link" href="/dashboard">Coupon</a>
              </li>
            <% if(title === 'Register'){%>
                <li class="nav-item active js-signup">
            <%} else{%>
                <li class="nav-item js-signup">
            <%}%>
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>

            <% if(title === 'Login'){%>
              <li class="nav-item active js-login">
            <%} else{%>
              <li class="nav-item js-login">
            <%}%>
                    <a class="nav-link" href="/login">Login</a>
                </li>

            <% if(title === 'Logout'){%>
              <li class="nav-item active js-logout hide">
            <%} else{%>
              <li class="nav-item js-logout hide">
            <%}%>
                <a class="nav-link" href="#">Log out</a>
              </li>
        </ul>
    </section>
</nav>
