<% include ../partials/header %>
    <% include ../partials/navigation %>
    <% include ../partials/outputMessage %>
        <section role="region" class="js-coupon-section container">
            <section role="region" class="list-coupons-section" id="js-list-coupons-section">

              <div class="wrapper">
                <h1>Dashboard</h1>

                <section role="region" class="add-new-coupon-btn">
                  <button type="button" class="btn btn-secondary js-add-new-coupon-btn" data-toggle="modal" data-target="#addNewCouponModal">
                    <img src="images/add-icon@3x.svg" alt="add-icon" class="budicon add-icon">
                    Add Coupon
                  </button>
                </section>

                <section role ="region" id="filter">
                  <!--filtering code goes here -->
                </section>
              </div>

              <% typeof msg != 'undefined' ? msg: '' %>
              <div id="coupons">
                  <!-- coupons will render here -->
              </div>

            </section>

            <section role="region" id="addNewCouponModelSection">
                <!-- Add modal will render here -->
            </section>

            <section role="region" id="editCouponModelSection">
                <!-- Edit modal will render here -->
            </section>

            <section role="region" id="uploadImageModelSection">
                <!-- upload Image modal will render here -->
            </section>

        </section>
      <script src="/javascripts/index.js"></script>
      <script src="javascripts/coupon.js"></script>
<% include ../partials/footer %>
