<% include ../partials/header %>
    <% include ../partials/navigation %>
            <main role="main" class="container" id="signup-section">
                <h1>Sign up with Maple</h1>
                <% include ../partials/outputMessage %>
                  <form id="js-signup-form" class="signup-form" autocomplete="off">
                    <div class="form-group">
                      <label for="input-firstName">First Name</label>
                      <input type="text" name="input-firstName" class="form-control" id="input-firstName" required />
                    </div>
                    <div class="form-group">
                      <label for="input-lastName">Last Name</label>
                      <input type="text" name="input-lastName" class="form-control" id="input-lastName" required />
                    </div>
                    <div class="form-group">
                      <label for="input-username">Username</label>
                      <input type="text" name="input-username" class="form-control" id="input-username" required />
                    </div>
                    <div class="form-group">
                      <label for="input-password">Password</label>
                      <input type="password" name="input-password" class="form-control" id="input-password" minlength="10" required  aria-describedby="passwordHelpBlock"/>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must be 10-72 characters long, contain letters and numbers, and must not contain spaces.
                      </small>
                    </div>
                    <button type="submit" class="button solid" value="signUp" id="js-sign-btn-submit">Sign up</button>
                </form>
            </main>

            <section role="region" id="login-link-section">
                <p>Already a user? <a href="/login">Login</a></p>
            </section>

            <script src="/javascripts/index.js"></script>
<% include ../partials/footer %>
